<div class="modal-dialog" *ngIf="showModal">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" aria-label="Close" type="button" data-dismiss="modal" (click)="cancel()">
                <span aria-hidden="true">×</span>
            </button>
            <h4>Nouvelle piscine {{name}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Nom:</label>
                <input type="text" class="form-control" [(ngModel)]="name" />
            </div>
            <div class="form-group">
                <label>Latitude:</label>
                <input type="text" class="form-control" [(ngModel)]="lat" />
            </div>
            <div class="form-group">
                <label>Longitude:</label>
                <input type="text" class="form-control" [(ngModel)]="lng" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal" (click)="cancel()">Annuler</button>
            <button class="btn btn-primary" type="button" (click)="apply()">Créer</button>
        </div>
    </div>
</div>