<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <div class="user-panel">
      <div class="pull-left image">
        <img class="img-circle" alt="User Image" src="../../../assets/img/copenhague.jpg">
      </div>
      <div class="pull-left info">
        <p>Nom</p>
        <a href="#">
          <i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <ul class="sidebar-menu tree" data-widget="tree">
      <li>
        <a href="#">
          <i class="fa fa-bell-o"></i>
          <span>Alertes</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-red">2</small>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-calendar"></i>
          <span>Rappels</span>
          <span class="pull-right-container">
            <small class="label pull-right bg-blue">1</small>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-gears"></i>
          <span>Paramètres</span>
        </a>
      </li>
    </ul>
  </section>
</aside>