<div class="modal-dialog" *ngIf="showModal">
    <div class="modal-content" *ngIf="!isBusy">
        <div class="modal-header">
            <button class="close" aria-label="Close" type="button" data-dismiss="modal" (click)="cancel()">
                <span aria-hidden="true">×</span>
            </button>
            <h4><b>{{name}}</b></h4>Paramètres
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Niveau:</label>
                <ng5-slider [(value)]="waterLevelMinValue" [(highValue)]="waterLevelMaxValue" [options]="levelOptions">
                </ng5-slider>
            </div>
            <div class="form-group">
                <label>Température:</label>
                <ng5-slider [(value)]="temperatureMinValue" [(highValue)]="temperatureMaxValue"
                    [options]="temperatureOptions">
                </ng5-slider>
            </div>
            <div class="form-group">
                <label>ph:</label>
                <ng5-slider [(value)]="phMinValue" [(highValue)]="phMaxValue" [options]="phOptions"></ng5-slider>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal" (click)="cancel()">Annuler</button>
            <button class="btn btn-primary" type="button" (click)="apply()">Valider</button>
        </div>
    </div>
    <div class="modal-content" *ngIf="isBusy">
        <div class="modal-header">
            <button class="close" aria-label="Close" type="button" data-dismiss="modal" (click)="cancel()">
                <span aria-hidden="true">×</span>
            </button>
            <h4><b>Loading ...</b></h4>Paramètres
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>