.range-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
    color: white
}
.range-date > label {
    margin-bottom: 0px;
    margin-top: 5px;
    width: 30px;
}
.range-date .input-group {
    margin-top: 5px;
}
.range-chart {
    margin-top: 25px;
}
.overview {
    margin-top: 35px;
}



.info-box {
    color: white;
    background-color: #7d7d7d;
}